build/
.cache/
.vscode/
.gitignore
compile_commands.json
.clang-format
.clang-tidy
.clangd
Dockerfile
Dockerfile.*
README.md
.github/
.git/
.clangd
.clang-format
.clang-tidy
CHANGELOG.md
Dockerfile.example
LICENSE
package-lock.json
package.json
release.config.js
README.md
